body {
    --duration: 0.25s;
}

main > div:nth-child(odd) {
    @apply bg-slate-50;
}

main .technology-article {
    @apply shadow-sm;
}
main .technology-article h2 {
    text-align: center;
}

main .technology-article>article>section:nth-child(odd) {
    @apply bg-slate-50;
}

main > h1, main > article, main > div > section {
    @apply py-4 pl-14 pr-2 sm:pr-4 md:pl-52 lg:pr-8;
}

.fade-leave-active
{
    transition: opacity var(--duration) ease-in-out, transform var(--duration) ease-in-out;
}

.fade-enter-active
{
    transition: opacity var(--duration) ease-in-out var(--duration), transform var(--duration) ease-in-out var(--duration);
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: translateX(20%);
}
